.BookCard {
  border: 1px solid #e5eaed;
  box-shadow: 0 0 2px hotpink, 0 2px 4px hotpink;
  background-color: #ffe6e6;
  border-radius: 20px;
  width: 30rem;

  &__desc {
    margin: 10px 10px;
  }
}
