.App {
  background-color: #ff6cab;
}

.App__SearchBar {
  display: flex;
  justify-content: center;

  :hover {
    border-color: black;
  }

  p {
    margin-left: 10px;
  }
}

header {
  color: white;
  background: #ff6cab;
  text-align: center;
  padding: 40px 0;
  width: 100%;
}

header > h1 {
  display: inline;
  font-weight: 300;
  font-size: 10rem;
}

input {
  margin-top: 5px;
  border: 2px solid white;
  height: 50px;
  width: 50rem;
  padding-right: 0;
  padding-left: 10px;
  font-size: large;
  color: white;
}

::placeholder {
  color: white;
}

button {
  border: 2px solid hotpink;
  height: 56px;
  width: 80px;
  margin-top: 5px;
  margin-left: 10px;
  font-weight: bold;
  font-size: medium;
  flex-wrap: wrap;
}
